html 
    head 
        link(rel="stylesheet" href="dist/reveal.css")
        link(rel="stylesheet" href="dist/theme/white.css")

    body 
        .reveal 
            .slides 
                section Slide 1
                section Slide 2
        script(src="dist/reveal.js")
        script Reveal.initialize();