extends ../base.pug 

block page-title
    - title = "Linux Ninja"

block styles
    link(rel="stylesheet" type="text/css" href="/reveal.js/dist/theme/black.css")

block slide-sections 
    section 
        h2 ACM Cyber security 