extends ../base.pug 

block styles
    link(rel="stylesheet" type="text/css" href="/reveal.js/dist/theme/black.css")

block slide-sections 
    section 
        h1 ACM NUCES 
    section 
        h2 ACM Cyber security 