extends _layout.pug

block content 
    .row.pt-4
        h3 Published Slides 
    hr
    section.row
        .col
            ul.list-group
                li.list-group-item.border-0 #[span #[a(href="slides/acm-cys-linux-ninja/index.html") Linux Ninja: Black Belt your Kali Linux Skills] by ACM Cybersecurity Chapter, scheduled on 14 November 2021]