extends _layout.pug

block content 
    .container 
        .row
            .col
                ul
                    li #[span #[a(href="slides/acm-cys-linux-ninja/index.html") Linux Ninja: Black Belt your Linux Skills] by ACM NUCES Cybersecurity Chapter]